@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>EricTim Travels</h1>
    <p class="lead">EricTim Travels provide a hassle free travel services.</p>
    <p><a href="http://www.discoverireland.ie" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Open an account with us for free.
        </p>
        <p><a class="btn btn-default" href="http://www.ireland.com/en-gb/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more for your holidays</h2>
        <p>Get to the Far-East easily with us. </p>
        <p>Take a trip to the Sydney Harbour and Opera and give yourself the best treatment</p>
        <p><a class="btn btn-default" href="http://www.ireland.com/en-gb/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Visit places of interest in Nigeria.</h2>
        <p>The home of best JOLLOF rice. Have a taste of the Nigerian (9ja) Jollof rice</p>
        <p>and you will always want to have more.</p>
        <p><a class="btn btn-default" href="http://www.nigeriaembassyusa.org/index.php?page=culture-tourism">Learn more &raquo;</a></p>
    </div>
</div>